.he2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    margin: 0;
    padding: 10px 0;
    cursor: pointer;
}
h3:hover {
    color: blue;
}

h3 a {
    text-decoration: none;
    color: #000;
}

h3 a:hover {
    color: blue;
}

.sub-list {
    margin-left: 20px; 
}

.date-view-container {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.date-input {
    padding: 5px;
    margin-left: 20px;
}


.view-button i {
    font-size: 16px; 
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px; 
    margin-bottom: 30px;
}

.action-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #0056b3;
}

.date-view-audit{
    margin-left: 20px;
    display: flex;
}

.date-range{
    margin-left: 20px;
    margin-right: 20px;
}

.task-card {
    /* border: 3px solid #aceceb; */
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 17%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: #F0F8FF;
    overflow: hidden;
    min-height: 100%;
}

.task-card button{
   align-self:flex-end;
   margin: 0px;
   margin-top: auto;
   margin-top: 10px;
}

.task-flex{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap:50px;
    margin-left: 30px;
    margin-right: 20px;
    
}


.task-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width:1330px) {

    .task-card{
       width:25%;
    }
}
@media screen and (max-width:1230px) {

    .task-card{
       width:40%;
    }
}
@media screen and (max-width:960px) {

    .task-card{
       width:34%;
    }
}

@media screen and (max-width:630px) {

    .task-card{
       width:75%;
    }
}
