.task-table-container {
    padding: 90px 0;
    overflow: auto;
    margin:0 10px;
   }
   
   .task-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
   }
   
   .task-table th, .task-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
   }
   
   .task-table th {
    background-color: #f2f2f2;
    font-weight: bold;
   }
   
   /* .task-table tr:nth-child(even) {
    background-color: #f2f2f2;
   } */
   
   .no-data-message {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #666;
   }
   